
<div class="container" style="width: 70%; color: #150d01;">

        <p><b>Design/Development Brief</b></p>

Build a new Web application. Node.js would be our preferred language, but you may use another language if you prefer. You may use Express or another framework as a base for your code.

Create a database of your choice, and import data into it from https://github.com/15Dkatz/official_joke_api/blob/master/jokes/index.json

Create a UI to read and display the Jokes one at a time, chosen at random showing the “setup” property from the json. Click on the page to reveal the “punchline” from the joke, then click again to reveal the next joke.

Show your design skills by producing an attractive and intuitive design. Show your coding skills across all levels from the database queries and application code to the client-side HTML and CSS. </p>


<p><b>Deliverable</b></p>

Share your code via a git repository. 
Document in the README, all steps required to install the code/database and run and browse the application on a local system. We may not be familiar with your chosen database, so please add full installation steps. </p>

  
</div>

